@font-face {
  font-family: "Monocraft";
  src: url("../fonts/Monocraft.ttf") format("truetype");
  src: url("../fonts/Monocraft.otf") format("opentype");
}

:root {
  --font-primary: "Monocraft";
  --background-color: #171717;
  --cor-secundaria: #212121;
  --branco: #fffce1;
  --muted: #b3b3b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  color: var(--branco);
}

.navbar {
  height: 90px;
  background-color: var(--background-color);
  z-index: 9999;

}

a {
  text-decoration: none;
  color: var(--branco);
}

.brand-container {
  display: flex;
  a {
    transition: all 0.2s ease-in-out;
    color: var(--branco);
    &:hover {
      transform: scale(1.02);
      color: var(--branco);
      opacity: 0.8;
    }
  }
}

.profile {
  background-color: var(--cor-secundaria);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
  }
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  background-color: var(--cor-secundaria);

  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

    .card-img {
      transform: scale(1.1);
    }
  }

  .card-body {
    background-color: var(--cor-secundaria);
  }

  .card-img {
    position: relative;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 9998;
  }

  h5.card-text {
    color: var(--branco);
    font-weight: bold;
  }

  p {
    color: var(--muted);
    font-size: 0.9em;
  }
}

.footer {
  background-color: var(--cor-secundaria);
  color: var(--branco);
}
