@font-face {
  font-family: "Monocraft";
  src: url("../fonts/Monocraft.ttf") format("truetype");
  src: url("../fonts/Monocraft.otf") format("opentype");
}

:root {
  --font-primary: "Monocraft";
  --background-color: #171717;
  --cor-secundaria: #212121;
  --branco: #fffce1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
  color: var(--branco);
}

.navbar {
  height: 90px;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--branco);
}

.brand-container {
  display: flex;
  a {
    transition: all 0.2s ease-in-out;
    color: var(--branco);
    &:hover {
      transform: scale(1.02);
      color: var(--branco);
      opacity: 0.8;
    }
  }
}

.profile-container {
  background-color: var(--cor-secundaria);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
  }
}

.footer {
  background-color: var(--cor-secundaria);
  color: var(--branco);
}
