@import url("/css/global.css");

.row > [class^="col-"] > a {
  display: block;
  height: 100%;
  color: inherit;
}

// .card {
//   border: none;
//   border-radius: 12px;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
//   transition: transform 0.3s ease, box-shadow 0.3s ease;
//   overflow: hidden;
//   height: 100%;
//   background-color: #1e1e1e;

//   &:hover {
//     transform: translateY(-5px) scale(1.01);
//     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

//     .card-img {
//       transform: scale(1.1);
//     }
//   }

//   .card-img {
//     transition: transform 0.3s ease-in-out;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//   }

//   h5.card-text {
//     color: #ffffff;
//     font-weight: bold;
//   }

//   p {
//     color: #b3b3b3;
//     font-size: 0.9em;
//   }
// }
