@import url("/css/global.css");

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  label {
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: block;
  }

  label:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
  }

  img {
    border: solid 1px var(--branco);
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .edit-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.5rem;
  }

  label:hover .edit-photo-overlay {
    opacity: 1;
  }
}

.card-profile-edit{
  img{
    width: 200px;
    aspect-ratio: 1.3 / 1;
    object-fit: cover;
  }
}