* {
    font-family: 'Monocraft', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Monocraft';
    src: url('../fonts/Monocraft.ttf') format('truetype');
    src: url('../fonts/Monocraft.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e4dccf;
    color: #585153;
}

h1, h3 {
    text-align: center;
}

.websites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

p{
    text-align: center;
}

button {
    background-color: transparent;
    color: #585153;
    border: 2px solid #585153;
    padding: 12px 24px;
    border-radius: 8px;
    width: 250px;
}

button:hover {
    background-color: #d3cbb8;
    transform: translateY(-2px);
}

#btnsite{
    display: flex;
    align-items: center;
    justify-content: center;
}   

#imgchat1{
    padding: 10px;
    width: 20px;
}

#imgchat2{
    padding: 10px;
    width: 20px;
}

#imggame1{
    padding: 10px;
    width: 20px;
}

#imggame2{
    padding: 10px;
    width: 20px;
}

#imgmusic1{
    padding: 10px;
    width: 20px;
}

#imgmusic2{
    padding: 10px;
    width: 20px;
}

hr {
    width: 300px;
    border: 1.5px solid #585153;
    margin: 20px 0px 20px 0px;
}

#buttons{
    display: flex;
}

#change{
    width: 250px;
}

/* DARK MODE */

body.dark-mode {
    background-color: #585153;
    color: #e4dccf;
}

body.dark-mode button {
     color: #e4dccf;
     border-color: #e4dccf;
}

body.dark-mode button:hover {
    background-color: #474344;
}

body.dark-mode hr {
    border-color: #e4dccf;
}

#btnhidden{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    border: none;
}
@media screen and (max-width: 500px) {
    body{
        height: 70vh;
    }
}